body {
  margin: 0;
  overflow: hidden;
  background: #f5f7fa;
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
}

/* 🔥 HUD */
#hud {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

/* VELOCIDAD */
#velocidad {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

/* NITRO */
#nitroBar {
  width: 200px;
  height: 12px;
  background: rgba(255,255,255,0.2);
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

#nitroFill {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  transition: width 0.1s;
}